/* || Remove from Display */
.display-none {
  display: none;
}

/* || strike text */

.strike-text {
  text-decoration: line-through;
}

/* || gray -text */

.gray-text {
  color: var(--plain-gray);
}


.highlight-text {
  color: #3e89d7;
  padding: 0 10px;
}

/* || headings and paragraph font sizes */

.h1,
.p1 {
  font-size: var(--font-size-h1);
}

.h2,
.p2 {
  font-size: var(--font-size-h2);
}

.h3,
.p3 {
  font-size: var(--font-size-h3);
}

.h4,
.p4 {
  font-size: var(--font-size-h4);
}

.h5,
.p5 {
  font-size: var(--font-size-h5);
}

.p6 {
  font-size: var(--font-size-h6);
}

/* || container for components */

.component-container {
  border: 1px solid var(--plain-lightgray);
  border-radius: var(--sm-radius);
  margin: 3rem 0;
  max-width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  padding: 2rem;
}
