:root {
  /* Font Sizes start*/

  --font-size-h1: 4.8rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 0.8rem;

  /* Border Radius */

  --small-border-radius: 5px;
  --medium-border-radius: 10px;
  --large-border-radius: 15px;
  --full-round-border-radius: 999px;

  /* Colour Palatte */

  --velocity-blue: #0066ff;
  --velocity-black: #242424;
  --velocity-gray: #9a9a9a;
  --velocity-orange: #ff9900;
  --velocity-light-blue: #a5b3db;
  --velocity-red: #dd1c1a;
  --velocity-green: #4caf50;
  --velocity-pink: #d1345b;
  --lynx-white: #f7f7f7;

  /* Plain colors--- */

  --plain-white: white;
  --plain-black: black;
  --plain-gray: gray;
  --plain-red: red;
  --plain-lightgray: lightgray;

  /* alert colors */

  --alert-error-red: rgb(254, 215, 215);
  --alert-error-icon-red: #e53e3e;
  --alert-success-green: rgb(198, 246, 213);
  --alert-success-icon-green: #38a169;
  --alert-warn-orange: rgb(254, 235, 200);
  --alert-warn-icon-orange: #dd6b20;
  --alert-info-blue: rgb(190, 227, 248);
  --alert-info-icon-blue: #3182ce;
  
}
