<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI | Slider</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/components/input/input.css" />
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <link rel="stylesheet" href="/components/grid/grid.css" />

    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- || top nav start -->

    <nav class="top-navbar">
      <div class="top-nav-brand">
        <a href="/index.html">
          <img src="/images/velocity-1-logo.svg" alt="velocity-ui-brand-logo" />
        </a>
        <a href="/index.html" class="brand-name">Velocity</a>
      </div>

      <ul class="top-nav-links doc-links">
        <li class="inline-list">
          <a href="/components/introduction/introduction.html">Get Started</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Documentation</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Components</a>
        </li>
      </ul>

      <ul class="top-nav-links">
        <li class="inline-list">
          <a href="https://github.com/AnkurChunekar/VelocityUI" target="_blank"
            ><i class="fab fa-github h3"></i
          ></a>
        </li>
        <li class="inline-list menu-icon">
          <i id="hamburger-menu-icon" class="fas fa-bars h3"></i>
        </li>
      </ul>
    </nav>

    <!-- || top nav end -->

    <!-- || Main component Section start -->

    <section class="component-section">
      <!-- || Side Navbar start -->

      <nav id="hamburger-menu" class="side-navbar">
        <ul class="ul-side-navbar">
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link title"
              >Get Started</a
            >
          </li>
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link"
              >Installation</a
            >
          </li>
          <li>
            <a href="/components/colors-docs/colors.html" class="side-nav-link"
              >Colors</a
            >
          </li>
          <li>
            <a
              href="/components/typography-docs/typography.html"
              class="side-nav-link"
              >Typography</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link title"
              >Components</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link"
              >Alert</a
            >
          </li>
          <li>
            <a href="/components/avatar/avatar.html" class="side-nav-link"
              >Avatar</a
            >
          </li>
          <li>
            <a href="/components/badge/badge.html" class="side-nav-link"
              >Badge</a
            >
          </li>
          <li>
            <a href="/components/button/button.html" class="side-nav-link"
              >Button</a
            >
          </li>
          <li>
            <a href="/components/card/card.html" class="side-nav-link">Card</a>
          </li>
          <li>
            <a href="/components/chips/chips.html" class="side-nav-link"
              >Chips</a
            >
          </li>
          <li>
            <a href="/components/grid/grid.html" class="side-nav-link active"
              >Grid</a
            >
          </li>
          <li>
            <a
              href="/components/imageComponent/image.html"
              class="side-nav-link"
              >images</a
            >
          </li>
          <li>
            <a href="/components/input/input.html" class="side-nav-link"
              >Input</a
            >
          </li>
          <li>
            <a href="/components/lists/lists.html" class="side-nav-link"
              >Lists</a
            >
          </li>
          <li>
            <a href="/components/modal/modal.html" class="side-nav-link"
              >Modal</a
            >
          </li>
          <li>
            <a
              href="/components/navigation/navigation.html"
              class="side-nav-link"
              >Navigation</a
            >
          </li>
          <li>
            <a href="/components/rating/rating.html" class="side-nav-link"
              >Rating</a
            >
          </li>
          <li>
            <a
              href="/components/slider/slider.html"
              class="side-nav-link"
              >Slider</a
            >
          </li>
          <li>
            <a href="/components/snackbar/snackbar.html" class="side-nav-link"
              >Snackbar</a
            >
          </li>
          <li>
            <a
              href="/components/text-utilities/text-utilities.html"
              class="side-nav-link"
              >Text Utilities</a
            >
          </li>
        </ul>
      </nav>

      <!-- || Side Navbar end -->

      <main>
        <!-- || Main Component Body -->

        <div class="main-component-body">
          <!-- || Header area start -->

          <header class="docs-body-header">
            <h2>Grid</h2>
            <p class="docs-body-para">
              CSS Grid Layout Module offers a grid-based layout system, with
              rows and columns, making it easier to design web pages without
              having to use floats and positioning.
            </p>
            <p class="docs-body-para">
              Note: Resize window's width to check responsiveness.
            </p>

          </header>

          <!-- || Header area end -->

          <!-- || Section start -->

          <!-- two column fluid -->

          <section id="docs-section-1" class="docs-body-section">
            <h3>Two Column Grid</h3>

            <p class="docs-body-para">
              Both Columns equally resize with respect to the available space. Classes: <span class="text-pink-bg">"grid"</span> and
              <span class="text-pink-bg">"col2-fluid"</span>.
            </p>

            <div class="component-container">
              <div class="grid col2-fluid">
                <div class="grid-docs-item bg-pink"></div>
                <div class="grid-docs-item bg-dark-green"></div>
              </div>
            </div>

            <div class="code-container">
              <!-- iframe starts -->
              <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=sharp&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520col2-fluid%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-pink%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-dark-green%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
              <!-- iframe ends -->
            </div>
          </section>

           <!-- Two column fixed fluid -->

          <section id="docs-section-2" class="docs-body-section">
            <h3>Two Column Right Fluid.</h3>

            <p class="docs-body-para">
              Only 2nd Column will fit according to the available space. Classes: <span class="text-pink-bg">"grid"</span> and
              <span class="text-pink-bg">"col2-fluid-r"</span>.
            </p>

            <div class="component-container">
              <div class="grid col2-fluid-r">
                  <div class="grid-docs-item bg-lightgreen"></div>
                <div class="grid-docs-item bg-pink"></div>
              </div>
            </div>

            <div class="code-container">
              <!-- iframe starts -->
              <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=sharp&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520col2-fluid-r%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-lightgreen%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-pink%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
              <!-- iframe ends -->
            </div>
          </section>

           <!-- Auto fit grid -->

          <section id="docs-section-3" class="docs-body-section">
            <h3>Auto Fit Grid.</h3>

            <p class="docs-body-para">
                Items inside Auto-fit Grid will automatically fit automatically inside parent container. They will have a minimum width of 300px.  Classes: <span class="text-pink-bg">"grid"</span> and
              <span class="text-pink-bg">"auto-fit"</span>.
            </p>

            <div class="component-container">
              <div class="grid auto-fit">
                  <div class="grid-docs-item bg-lightgreen"></div>
                  <div class="grid-docs-item bg-pink"></div>
                  <div class="grid-docs-item bg-dark-green"></div>
              </div>
            </div>

            <div class="code-container">
              <!-- iframe starts -->
              <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=sharp&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520auto-fit%2522%253E%250A%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-lightgreen%2522%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-pink%2522%253E%253C%252Fdiv%253E%250A%2520%253Cdiv%2520class%253D%2522grid-docs-item%2520bg-dark-green%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
              <!-- iframe ends -->
            </div>
          </section>

          <!-- Section ends -->

          <footer class="component-footer">
            <a href="/components/chips/chips.html">
              <i class="fas fa-angle-double-left"></i> Chips</a
            >
            <a href="/components/imageComponent/image.html">
              Image <i class="fas fa-angle-double-right"></i
            ></a>
          </footer>

          <!-- Footer starts  -->

          <footer class="main-footer">
            <p class="docs-body-para">
              <i class="far fa-copyright"></i> 2022 Ankur Chunekar. All Rights
              Reserved
            </p>
            <ul>
              <li>
                <a
                  class="footer-link"
                  href="https://ankurchunekar.netlify.app/"
                  target="_blank"
                  ><i class="fas fa-home"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://github.com/AnkurChunekar"
                  target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://twitter.com/ankur_chunekar"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://www.linkedin.com/in/ankurchunekar"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </footer>

          <!-- Footer ends -->
        </div>

        <aside class="side-navbar page-info">
          <ul class="ul-side-navbar">
            <li><a class="side-nav-link title">On This Page</a></li>

            <li>
              <a href="#docs-section-1" class="side-nav-link">Two Column docs</a>
            </li>
            <li>
              <a href="#docs-section-2" class="side-nav-link">Two Column Fluid Right</a>
            </li>
            <li>
              <a href="#docs-section-3" class="side-nav-link">Auto Fit Grid</a>
            </li>
          </ul>
        </aside>
      </main>
    </section>

    <script src="/documentation/JS/documentation.js"></script>
  </body>
</html>
