@import url(/components/avatar/avatar.css);
@import url(/components/button/button.css);
@import url(/components/badge/badge.css);
@import url(/components/rating/rating.css);

:root {
  --card-description-color: #808080;
}

.component-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

/* ||------ Standard Card start */

.card {
  height: max-content;
  max-width: 26rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: var(--md-radius);
}

/* Card Header */

/* Card image  */
.card .card-image img {
  object-fit: cover;
  width: 100%;
  height: max-content;
  border-top-left-radius: var(--md-radius);
  border-top-right-radius: var(--md-radius);
}

/* icons */

.card .card-badge {
  display: none;
}

/* Card Text Content */

.card-body .card-text-content {
  margin: 0 1.5rem;
}

.card-text-content .card-title {
  font-size: 1.8rem;
}

.card-text-content .card-title,
.card-text-content .flexible-txt {
  margin: 0.8rem 0;
}

.flexible-txt.subtitle {
  font-size: 1.4rem;
  color: var(--plain-gray);
}

.card-text-content .ecom-qty input {
  width: 4rem;
  margin: 0 0.5rem;
  border: solid 1px var(--gray-color);
  padding: 2px 4px;
  text-align: center;
}

.card .ecom-qty {
  display: none;
}

.card .ecom-qty span {
  margin: 0 0.5rem;
}

.card .ecom-qty .qty-btn {
  padding: 0.4rem 0.6rem;
  border-radius: var(--round-radius);
}

.card .card-text-content .rating {
  display: none;
}

/* || Card footer */

.card .card-actions {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.card .card-actions .btn {
  width: 100%;
}

.card.single-btn .card-actions .card-btn-2 {
  display: none;
}

/* || Standard Card ends */

/* || Card with badges start */

.card.card-w-badge .left-badge {
  display: block;
}

.card.card-w-badge .left-badge {
  position: absolute;
  top: 2rem;
  left: -0.2rem;
}

/* || Card with badge ends*/

/* || card with like starts */

.card.card-ecom .card-like {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 0.6rem;
  color: var(--dark-color);
  background-color: var(--plain-white);
  border-radius: var(--round-radius);
  box-shadow: 0 0 4px var(--plain-gray);
  cursor: pointer;
}

.card.card-ecom .card-like:hover {
  color: var(--red-color);
}

.card.card-ecom .card-text-content .rating {
  display: block;
}

/* || card with like ends */

/* || Card with dismiss icon starts  */

.card.card-w-dismiss .card-dismiss {
  display: block;
  color: var(--plain-gray);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: var(--plain-red);
}

.card.card-w-dismiss .card-dismiss:hover {
  cursor: pointer;
  color: var(--red-color);
}

/* || Card with dismiss icon ends */

/* || Card with text overlays starts*/

.card.card-text-overlay .card-text-content {
  position: relative;
  margin: 0 1rem;
}

.card.card-text-overlay .card-title {
  position: absolute;
  top: -7rem;
}

.card.card-text-overlay .subtitle {
  position: absolute;
  top: -4.5rem;
}

.card.card-text-overlay .details {
  display: none;
}

/* || Card with text overlays ends*/

/* || Card with text only starts*/

.card.card-text-only .card-image,
.card.card-text-only .card-actions {
  display: none;
}

/* || Card with text only ends*/

/* || Horizontal card starts*/

.card.card-horizontal {
  display: flex;
  max-width: 55rem;
}

.card.card-horizontal .card-image {
  width: 80%;
}

.card.card-horizontal .card-image img {
  height: 100%;
  width: 100%;
}

.card.card-horizontal .card-body {
  width: 100%;
}

.card.card.card-horizontal .card-text-content {
  margin: 1rem 1.5rem 4rem 1.5rem;
}

.card.card-horizontal .ecom-qty {
  display: block;
}

.card.card-horizontal .card-text-content .rating {
  display: block;
}

/* || Horizontal card ends*/

/* || Card Overlay starts */

.card .card-overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--plain-white);
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--md-radius);
}

.card.disabled .card-overlay {
  display: flex;
}

/* || Card Overlay ends */

/* || Card Border starts*/

.card.card-border {
  box-shadow: none;
  border: solid var(--plain-lightgray) 1px;
}

/* || Card Border ends*/
