<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI Card Components</title>

    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="card.css" />
  </head>
  <body>
    <!-- Standard Card start -->

    <div class="component-container">
      <div class="card">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >This is subtitle</p>
            <p class="card-description">
              <span class="strike-text"></span> Here you can write a simple description.
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Standard Card End -->

    <!-- Social Media card start -->

    <div class="component-container">
      <div class="card card-social-media">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >Liked by tanaypratap and 242 others</p>
            <p class="card-description">
              <span class="strike-text"></span> How's my new Cam?
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Social Media Card end -->

    <!-- Card with badge starts-->

    <div class="component-container">
      <div class="card card-w-badge">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >This is some description about the product. Only write p
              description.</p>
            <p class="card-description">
              <span class="strike-text"> 899$</span> 499$
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Card with badge ends-->

    <!-- Card with dismiss badge starts-->
    
    <div class="component-container">
      <div class="card card-w-dismiss">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >This is some description about the product. Only write p
              description.</p>
            <p class="card-description">
              <span class="strike-text"> 899$</span> 499$
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Card with dismiss badge ends-->

    <!-- Card with Text Overlay badge starts-->
    <div class="component-container">
      <div class="card card-text-overlay">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >very small sentence</p>
            <p class="card-description">
              <span class="strike-text"> 899$</span> 499$
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Card with text Overlay ends-->

    <!-- Horizontal Card starts-->

    <div class="component-container">
      <div class="card card-horizontal">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >by ankur chunekar</p>
            <p class="card-description">
              <span class="strike-text"></span> Science is very fascinating, and there are a lot of field to study.
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Read</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Bookmark
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>


    <!-- Horizontal Card ends-->

    <!-- Text only card starts-->
    <div class="component-container">
      <div class="card card-text-only">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >by ankur chunekar</p>
            <p class="card-description">
              <span class="strike-text"></span>Science is very fascinating, and there are a lot of field to study.
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>


    <!-- Text Only Card ends-->

    <!-- Card with border starts-->
    <div class="component-container">

      <div class="card card-border">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >by ankur chunekar</p>
            <p class="card-description">
              <span class="strike-text"></span>Checkout this card's Border.
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Card with border ends-->

    <!-- p Card starts-->
    <div class="component-container">
      <div class="card card-small">
        <header class="card-header">
          <figure class="avatar avatar-sm">
            <img
              class="avatar-image"
              src="/images/avatar-image3.jpg"
              alt="avatar-profile-1"
            />
          </figure>
          <div class="card-header-body">
            <h4>Maya Joseph</h4>
            <p>Sent 2 hours ago.</p>
          </div>
          <div class="card-badge">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </header>
        <section class="card-body">
          <div class="card-image">
            <img src="/images/card-image-1.jpg" alt="product image" />
          </div>

          <div class="dismiss-icon">
            <div class="card-badge">
              <div class="icon-container badge-container">
                <i class="fas fa-times icon"></i>
              </div>
            </div>
          </div>

          <div class="card-icons">
            <div class="card-badge card-left-badge">
              <div class="badge-container tag tag-danger">
                <span class="icon-badge">New</span>
              </div>
            </div>
            <div class="card-badge card-like-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-heart icon"></i>
              </div>
            </div>
            <div class="card-badge card-comment-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-comment icon"></i>
              </div>
            </div>
            <div class="card-badge card-share-icon">
              <div class="icon-container badge-container">
                <i class="fas fa-paper-plane icon"></i>
              </div>
            </div>
          </div>
          <div class="card-text-content">
            <h3 class="card-title">Sony Camera</h3>
            <p class="card-subtitle"
              >by ankur chunekar</p>
            <p class="card-description">
              <span class="strike-text"></span> Check this card's size it 100px shorter.
            </p>
          </div>
        </section>
        <footer class="card-actions">
          <button class="btn btn-primary card-btn-1">Buy Now</button>
          <button class="btn btn-dark btn-outline card-btn-2">
            Add to Cart
          </button>
          <div class="card-badge menu-icon">
            <div class="icon-container badge-container">
              <i class="fas fa-ellipsis-v icon"></i>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- p Card ends-->
  </body>
</html>
