/* Input style starts */

.input-wrapper {
  width: 100%;
}

.input-wrapper input {
  border-radius: var(--sm-radius);
  border: solid 1.8px var(--dark-color);
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  outline: none;
}

.input-wrapper .input-label {
  display: block;
}

/* Input style ends */

/* Input Validation style starts */
.input-wrapper .error-input {
  border: solid 2px var(--red-color);
}
.input-wrapper .error-msg {
  color: var(--red-color);
}

.input-wrapper .success-input {
  border: solid 2px var(--green-color);
}

.input-wrapper .success-msg {
  color: var(--green-color);
}

/* Input Validation style ends */

/* Radio starts */

.input-wrapper.radio,
.input-wrapper.checkbox {
  width: max-content;
}

.input-wrapper.radio label,
.input-wrapper.checkbox label {
  cursor: pointer;
}

.input-wrapper.radio input,
.input-wrapper.checkbox input {
  width: max-content;
}

.input-wrapper.disabled label {
  color: var(--plain-gray);
  cursor: not-allowed;
}

/* Radio ends */

/* Input w search icon style starts */

.input-wrapper.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1.8px var(--dark-color);
  border-radius: var(--sm-radius);
  margin: 1rem 0;
}

.input-icon input {
  border: none;
  margin: 0;
  border-radius: var(--sm-radius);
}

.input-icon .icon {
  margin: 0 1rem;
  cursor: pointer;
}

.input-wrapper.search .icon {
  position: absolute;
  display: inline;
  top: 1.4rem;
  right: 1rem;
  color: var(--plain-gray);
  cursor: pointer;
}

.input-wrapper.search .search-bar {
  display: inline-block;
  position: relative;
}

/* Input w search icon ends */
