<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI | Buttons</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <link rel="stylesheet" href="/components/button/button.css" />
    <link rel="stylesheet" href="/components/button/button-docs.css" />

    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- || top nav start -->

    <nav class="top-navbar">
      <div class="top-nav-brand">
        <a href="/index.html">
          <img src="/images/velocity-1-logo.svg" alt="velocity-ui-brand-logo" />
        </a>
        <a href="/index.html" class="brand-name">Velocity</a>
      </div>

      <ul class="top-nav-links doc-links">
        <li class="inline-list">
          <a href="/components/introduction/introduction.html">Get Started</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Documentation</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Components</a>
        </li>
      </ul>

      <ul class="top-nav-links">
        <li class="inline-list">
          <a href="https://github.com/AnkurChunekar/VelocityUI" target="_blank"
            ><i class="fab fa-github h3"></i
          ></a>
        </li>
        <li class="inline-list menu-icon">
          <i id="hamburger-menu-icon" class="fas fa-bars h3"></i>
        </li>
      </ul>
    </nav>

    <!-- || top nav end -->

    <!-- || Main component Section start -->

    <section class="component-section">
      <!-- || Side Navbar start -->

      <nav id="hamburger-menu" class="side-navbar">
        <ul class="ul-side-navbar">
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link title"
              >Get Started</a
            >
          </li>
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link"
              >Installation</a
            >
          </li>
          <li>
            <a href="/components/colors-docs/colors.html" class="side-nav-link"
              >Colors</a
            >
          </li>
          <li>
            <a
              href="/components/typography-docs/typography.html"
              class="side-nav-link"
              >Typography</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link title"
              >Components</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link"
              >Alert</a
            >
          </li>
          <li>
            <a href="/components/avatar/avatar.html" class="side-nav-link"
              >Avatar</a
            >
          </li>
          <li>
            <a href="/components/badge/badge.html" class="side-nav-link"
              >Badge</a
            >
          </li>
          <li>
            <a
              href="/components/button/button.html"
              class="side-nav-link active"
              >Button</a
            >
          </li>
          <li>
            <a href="/components/card/card.html" class="side-nav-link">Card</a>
          </li>
          <li>
            <a href="/components/chips/chips.html" class="side-nav-link"
              >Chips</a
            >
          </li>
          <li>
            <a href="/components/grid/grid.html" class="side-nav-link"
              >Grid</a
            >
          </li>
          <li>
            <a
              href="/components/imageComponent/image.html"
              class="side-nav-link"
              >images</a
            >
          </li>
          <li>
            <a href="/components/input/input.html" class="side-nav-link"
              >Input</a
            >
          </li>
          <li>
            <a href="/components/lists/lists.html" class="side-nav-link"
              >Lists</a
            >
          </li>
          <li>
            <a href="/components/modal/modal.html" class="side-nav-link"
              >Modal</a
            >
          </li>
          <li>
            <a
              href="/components/navigation/navigation.html"
              class="side-nav-link"
              >Navigation</a
            >
          </li>
          <li>
            <a href="/components/rating/rating.html" class="side-nav-link"
              >Rating</a
            >
          </li>
          <li>
            <a
              href="/components/slider/slider.html"
              class="side-nav-link"
              >Slider</a
            >
          </li>
          <li>
            <a href="/components/snackbar/snackbar.html" class="side-nav-link"
              >Snackbar</a
            >
          </li>
          <li>
            <a
              href="/components/text-utilities/text-utilities.html"
              class="side-nav-link"
              >Text Utilities</a
            >
          </li>
        </ul>
      </nav>

      <!-- || Side Navbar end -->

      <main>
        <!-- || Main Component Body -->

        <div class="main-component-body">
          <!-- || Header area start -->

          <header  class="docs-body-header">
            <h2>Buttons</h2>
            <p class="docs-body-para">
              Buttons are one of the most useful components in any Web
              Applications. Velocity provides different range of buttons and their states.
            </p>
          </header>

          <!-- || Header area end -->

          <!-- Solid Button Starts -->

          <section id="solid"  class="docs-body-section">
            <h3>Solid Buttons</h3>
            <p class="docs-body-para">
              Create a solid button using
              <span class="highlight-text">"btn"</span> class.
            </p>

            <p class="docs-body-para">
              Additionally you can add
              <span class="highlight-text">"btn-primary"</span>,
              <span class="highlight-text">"btn-secondary"</span>,
              <span class="highlight-text">"btn-dark"</span>,
              <span class="highlight-text">"btn-danger"</span>,
              <span class="highlight-text">"btn-success"</span>, and
              <span class="highlight-text">"btn-warn"</span> classes to get
              desired button.g
            </p>

            <div class="component-container">
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-secondary">Secondary</button>
              <button class="btn btn-dark">Dark</button>
              <button class="btn btn-danger">Danger</button>
              <button class="btn btn-success">Success</button>
              <button class="btn btn-warn">Warn</button>
            </div>

            <div class="code-container">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-dark%2522%253EDark%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2522%253EDanger%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESuccess%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-warn%2522%253EWarn%253C%252Fbutton%253E"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
              <!-- iframe ends -->
            </div>
          </section>

          <!-- Solid Button Ends -->

          <!-- Outline Button Types start -->

          <section id="outline"  class="docs-body-section">
            <h3>Outline Buttons</h3>

            <p  class="docs-body-para">
              To create Outline simply add
              <span class="highlight-text">"btn-outline"</span> class.
            </p>

            <div class="button-container component-container">
              <button class="btn btn-primary btn-outline">Primary</button>
              <button class="btn btn-secondary btn-outline">Secondary</button>
              <button class="btn btn-dark btn-outline">Dark</button>
              <button class="btn btn-danger btn-outline">Danger</button>
              <button class="btn btn-success btn-outline">Success</button>
              <button class="btn btn-warn btn-outline">Warn</button>
            </div>

            <div class="code-container">
              <!-- iframe starts -->

              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-outline%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-outline%2522%253ESecondary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-dark%2520btn-outline%2522%253EDark%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2520btn-outline%2522%253EDanger%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2520btn-outline%2522%253ESuccess%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-warn%2520btn-outline%2522%253EWarn%253C%252Fbutton%253E"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>

              <!-- iframe ends -->
            </div>
          </section>

          <!-- Outline Button Types end -->

          <!-- Link and Icon Button start -->

          <section id="link-icon"  class="docs-body-section">
            <h3>Icon and Link buttons</h3>
            <p class="docs-body-para">
              Create link buttons using
              <span class="highlight-text">"btn-link"</span> class.
            </p>
            <p class="docs-body-para">
              To create an Icon button you can use
              <span class="highlight-text">"btn-w-icon"</span> class and add your
              desired icon inside the parent button tag and include additional
              span tag for text content.
            </p>
            <p class="docs-body-para">
              Use <span class="highlight-text">"disabled"</span> class to create a
              disabled button.
            </p>

            <div class="button-container component-container">
              <button class="btn btn-link">My-Link</button>

              <button class="btn btn-w-icon btn-primary">
                <i class="fas fa-shopping-cart icon"></i>
                <span> Add to Cart </span>
              </button>

              <button class="btn btn-w-icon btn-danger">
                <span> Delete </span> <i class="fas fa-trash icon"></i>
              </button>

              <button class="btn btn-primary disabled">Disabled</button>
            </div>

            <div class="code-container">
              <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253EMy-Link%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-w-icon%2520btn-primary%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520icon%2522%253E%253C%252Fi%253E%250A%2520%2520%253Cspan%253E%2520Add%2520to%2520Cart%2520%253C%252Fspan%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-w-icon%2520btn-danger%2522%253E%250A%2520%2520%253Cspan%253E%2520Delete%2520%253C%252Fspan%253E%2520%253Ci%2520class%253D%2522fas%2520fa-trash%2520icon%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520disabled%2522%253EDisabled%253C%252Fbutton%253E"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
            </div>
          </section>

          <!-- Links and icon Button end -->

          <!-- || Floating icon button start -->

          <section id="floating-icon" class="docs-body-section">
            <h3>Floating Icon buttons</h3>
            <p class="docs-body-para">
              <span class="highlight-text">"btn-floating"</span> class, can be
              used to create floating button.
            </p>

            <div class="button-container component-container">
              <button class="btn btn-primary btn-floating">
                <i class="fas fa-arrow-up"></i>
              </button>

              <button class="btn btn-success btn-floating">
                <i class="fas fa-plus"></i>
              </button>
            </div>

            <div class="code-container">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-floating%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-up%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2520btn-floating%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </section>

          <!-- Floating Icon Button ends -->

          <!-- Button Sizes Starts -->

          <section id="different-sizes" class="docs-body-section">
            <h3>Different sizes of Buttons</h3>
            <p class="docs-body-para">
              Three different sizes are available for buttons. Use
              <span class="highlight-text">"btn-s"</span> ,
              <span class="highlight-text">"btn-md"</span> , and
              <span class="highlight-text">"btn-lg"</span> classes to get small, medium and large sized buttons respectively.
            </p>

            <div class="button-container component-container">
              <button class="btn btn-primary btn-s">Small</button>
              <button class="btn btn-primary btn-md">Button</button>
              <button class="btn btn-primary btn-lg">Large Button</button>
            </div>

            <div class="code-container">
              <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-s%2522%253ESmall%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-md%2522%253EButton%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-lg%2522%253ELarge%2520Button%253C%252Fbutton%253E"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
              <!-- iframe ends -->
            </div>
          </section>

          <!-- Button Sizes Ends -->

          <!-- || Component Footer starts -->

          <footer class="component-footer">
            <a href="/components/badge/badge.html">
              <i class="fas fa-angle-double-left"></i> Badge</a
            >
            <a href="/components/card/card.html">
              Cards <i class="fas fa-angle-double-right"></i
            ></a>
          </footer>

          <!-- Component Footer ends -->

          <!-- Footer starts  -->

          <footer class="main-footer">
            <p  class="docs-body-para">
              <i class="far fa-copyright"></i> 2022 Ankur Chunekar. All Rights
              Reserved
            </p>
            <ul>
              <li>
                <a
                  class="footer-link"
                  href="https://ankurchunekar.netlify.app/"
                  target="_blank"
                  ><i class="fas fa-home"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://github.com/AnkurChunekar"
                  target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://twitter.com/ankur_chunekar"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://www.linkedin.com/in/ankurchunekar"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </footer>

          <!-- Footer ends -->
        </div>

        <!-- Page info side-navbar starts-->
        
        <aside class="side-navbar page-info">
          <ul class="ul-side-navbar">
            <li><a href="" class="side-nav-link title">On This Page</a></li>
            
            <li>
              <a href="#solid" class="side-nav-link">Solid Button</a>
            </li>
            
            <li>
              <a href="#outline" class="side-nav-link">Outline</a>
            </li>
            
            <li>
              <a href="#link-icon" class="side-nav-link">Icon And Link</a>
            </li>
            
            <li>
              <a href="#floating-icon" class="side-nav-link">Floating Icon</a>
            </li>
            
            <li>
              <a href="#different-sizes" class="side-nav-link">Sizes for Buttons</a>
            </li>
          </ul>
        </aside>
        
        <!-- Page info side-navbar ends-->

      </main>

      <!-- || Button Components end -->
      
    </section>

    <script src="/documentation/JS/documentation.js"></script>

  </body>
</html>
