<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar Components</title>

    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="avatar.css" />
  </head>

  <body>
<!-- Standard Avatar start -->

<div class="avatar-container component-container">
    <figure class="avatar">
        <img src="/images/avatar-image1.jpg" alt="avatar-profile-1" />
    </figure>
    <figure class="avatar">
        <img src="/images/avatar-image3.jpg" alt="avatar-profile-1" />
    </figure>
    <figure class="avatar">
        <img src="/images/avatar-image2.jpg" alt="avatar-profile-1" />
    </figure>
</div>

<!-- Standard Avatar end -->
  </body>
</html>
