<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>

    <link rel="stylesheet" href="navigation.css" />
    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- standard nav starts -->

      <nav class="navigation">
        <div class="nav-brand flex-row-center-sb">
          <a href="">
            <img
              class="brand-logo"
              src="/images/sample-nav-logo1.svg"
              alt="brand logo"
            />
          </a>
          <a href="" class="brand-name">Blink</a>
          <i class="fas fa-bars menu-icon" id="nav-menu-icon"></i>
        </div>
        <div class="nav-dropdown-menu">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link active" href="">Services</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="">About</a></li>
          </ul>
        </div>
        <div class="nav-actions flex-row-center-sb">
          <div class="input-wrapper search">
            <div class="search-bar">
              <input type="text" placeholder="search here..." />
              <i class="fas fa-search icon"></i>
            </div>
          </div>
        </div>
      </nav>

    <!-- standard nav starts -->
<br>
<p>Just different color varient js only work for 1st demo one.</p>
    <!-- standard nav starts -->

      <nav class="navigation blue">
        <div class="nav-brand flex-row-center-sb">
          <a href="">
            <img
              class="brand-logo"
              src="/images/sample-nav-logo1.svg"
              alt="brand logo"
            />
          </a>
          <a href="" class="brand-name">Blink</a>
          <i class="fas fa-bars menu-icon" id="nav-menu-icon"></i>
        </div>
        <div class="nav-dropdown-menu">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link active" href="">Services</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="">About</a></li>
          </ul>
        </div>
        <div class="nav-actions flex-row-center-sb">
          <div class="input-wrapper search">
            <div class="search-bar">
              <input type="text" placeholder="search here..." />
              <i class="fas fa-search icon"></i>
            </div>
          </div>
        </div>
      </nav>

    <!-- standard nav starts -->

    <script src="/components/navigation/navigation.js"></script>
  </body>
</html>
