@import url(/components/button/button.css);
@import url(/components/input/input.css);

:root {
  --navigation-shodow: 0 2px 5px var(--plain-lightgray);
}

/* || Navigation styles starts ------ */

/* Navigation Parent  */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  box-shadow: var(--navigation-shodow);
  font-size: 1.8rem;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

/* Nav-brand  */

.brand-name {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 0.5rem;
}

.navigation .menu-icon {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  margin: 0 0.5rem;
}

.navigation .menu-icon:hover {
 color: var(--velocity-blue);
}

/* Search bar */

.navigation .input-wrapper {
  width: 40%;
}

.navigation .input-wrapper input {
  border: solid var(--plain-lightgray) 0.2px; 
  outline: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  width: 100%;
} 

/* Nav actions */

.nav-actions a {
  padding: 0.8rem 1rem;
}
.nav-actions a:hover {
  background-color: var(--lynx-white);
  border-radius: var(--full-round-border-radius);
}

/* Media query starts */

@media screen and (max-width: 768px) {

  .navigation .menu-icon {
    display: inline;
  }

  .navigation .input-wrapper {
    display: none;
  } 

}

/* Media query ends */

