:root {
  --navigation-shodow: 0 2px 5px var(--plain-lightgray);
}

.component-container {
  height: 15rem;
  position: relative;
  align-items: flex-start;
}

/* || Navigation styles starts ------ */

/* Navigation Parent  */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--plain-white);
  padding: 1rem;
  box-shadow: var(--navigation-shodow);
  font-size: var(--font-size-h4);
  width: 100%;
  flex-wrap: wrap;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

/* Nav-brand  */

.brand-name {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 0.5rem;
}

.navigation .ham-icon {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.navigation .ham-icon:hover {
  color: var(--primary-color);
}

/* Nav links */

.navigation .nav-link {
  margin: 0 0.5rem;
}

.navigation .nav-link a:hover {
  color: var(--primary-color);
}

.navigation .navigation-ham-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  background-color: var(--plain-white);
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  row-gap: 2rem;
  padding: 2rem;
  box-shadow: 2px 0 5px var(--plain-lightgray);
  display: none;
}

.navigation .navigation-ham-menu.active {
  display: flex;
}

.navigation-ham-menu #ham-close-icon {
  align-self: flex-end;
  cursor: pointer;
  font-size: var(--font-size-h3);
}

.navigation-ham-menu #ham-close-icon:hover {
  color: var(--red-color);
}

/* Nav actions */

.nav-actions a {
  margin: var(--spacing-xxs);
  cursor: pointer;
  transition: transform 0.3s;
}

.nav-actions a i:hover {
  transform: scale(1.1);
}

.nav-actions .icon-badge {
  top: -15px;
  right: -5px;
}

/* Media query ends */
