<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velocity ui Image</title>

    <script
    src="https://kit.fontawesome.com/edf7bdb339.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="image.css" />
</head>
<body>
    <!-- Image responsive start -->
    <div class="component-container">
        
        <figure>
            <img class="img-responsive" src="/images/res-img-ref.jpg" alt="Old Disposable Camera From 2006">
            <figcaption>Old Camera by <a href="https://unsplash.com/@markbishop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mark Bishop</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
        </figure>
    </div>

    <!-- Image responsive ends -->

    <!-- Image round starts -->
    
    <div class="component-container small-img-container">
        
        <figure class="img-150px-wrapper">
            <img class="img-round" src="/images/card-image-1.jpg" alt="Camera From 2022">
        </figure>
        
        <figure class="img-150px-wrapper">
            <img class="img-round" src="/images/avatar-image3.jpg" alt="maya's profile picture">
        </figure>
        
    </div>
    <!-- Image round ends -->

    <!-- Square round starts -->
    
    <div class="component-container small-img-container">
        
        <figure class="img-150px-wrapper">
            <img class="img-square" src="/images/avatar-image2.jpg" alt="amy's profile picture">
        </figure>
        
        <figure class="img-150px-wrapper">
            <img class="img-square" src="/images/avatar-image1.jpg" alt="adam's profile picture">
        </figure>
        
    </div>
    <!-- Square round ends -->

</body>
</html>