:root {
  --div-border: solid 1px var(--plain-lightgray);
}

/* Normal List styles starts */
.list {
  list-style-position: inside;
}

.list-roman {
  list-style-type: upper-roman;
}

.list-square {
  list-style-type: square;
}

.list-alpha {
  list-style-type: lower-alpha;
}

.list-circle {
  list-style-type: circle;
}

.list-style-none {
  list-style: none;
}
/* Normal List ends */

