<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists</title>
    <link rel="stylesheet" href="lists.css" />
    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="lists.css" />
  </head>

  <body>
    <!-- Ordered List start -->

    <div class="div component-container">
      <ol class="list">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ol>
    </div>

    <div class="component-container">
      <ol reversed class="list">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ol>
    </div>

    <div class="div component-container">
      <ol class="list list-roman">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ol>
    </div>

    <div class="component-container">
      <ol class="list list-alpha">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ol>
    </div>

    <!-- Ordered List end -->

    <!-- Unordered List start -->

    <div class="div component-container">
      <ul class="list">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ul>
    </div>

    <div class="div component-container">
      <ul class="list list-circle">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ul>
    </div>

    <div class="component-container">
      <ul class="list list-square">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ul>
    </div>

    <div class="component-container">
      <ul class="list list-style-none">
        <li>List item1</li>
        <li>List item2</li>
        <li>List item3</li>
      </ul>
    </div>

    <!-- Unordered List end -->

    
    <!-- Notification drawer starts -->

    <div class="component-container">
      <div class="notification-drawer">
        <header>
          <h1 class="heading">Notifications</h1>
          <i class="fas fa-ellipsis-v icon"></i>
        </header>
        <div class="notification-divider"></div>
        <section>
          <ul class="list">
            <li class="notification">
              <span class="title">New Tweet from tanaypratap</span>
              <p class="subtitle">just now</p>
            </li>
          </ul>
          <div class="notification-divider"></div>
          <ul class="list">
            <li class="notification">
              <span class="title">242 Likes on Twitter</span>
              <p class="subtitle">yesterday</p>
            </li>
          </ul>
          <div class="notification-divider"></div>
          <ul class="list">
            <li class="notification">
              <span class="title">Any new of notification goes here</span>
              <p class="subtitle">21 Aug</p>
            </li>
          </ul>
        </section>
        <div class="notification-divider"></div>
        <footer>
          <a href="">Mark all as read</a>
        </footer>
      </div>
    </div>

    <!-- Notification drawer ends -->
  </body>
</html>
