@import url(/cssReset/reset.css);
@import url(/cssUtilities/utilities.css);

:root {
    --rating-star-color: orange;
}

/* Rating starts */

.rating {
    width: fit-content;
}

.rating i {
    color: var(--rating-star-color);
    cursor: pointer;
}

.rating .rating-info {
    margin-left: 1rem;
}

.rating.lg {
font-size: 2rem;
}
.rating.sm {
    font-size: 1.2rem;
}
/* Rating ends */