<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge Components</title>
    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="badge.css" />
  </head>
  <body>
    <!-- || Avatars with a Badge start -->

    <div class="avatar-container component-container">
      <figure class="avatar badge-container">
        <img src="/images/avatar-image1.jpg" alt="avatar-profile-1" />
        <span class="avatar-badge online"></span>
      </figure>
      <figure class="avatar badge-container">
        <img src="/images/avatar-image2.jpg" alt="avatar-profile-1" />
        <span class="avatar-badge offline"></span>
      </figure>
      <figure class="avatar badge-container">
        <img src="/images/avatar-image3.jpg" alt="avatar-profile-1" />
        <span class="avatar-badge dnd"></span>
      </figure>
    </div>

    <!-- || Avatars with a Badge ends -->
  </body>
</html>
