@import url(/components/avatar/avatar.css);
@import url(/components/button/button.css);

:root {
    --badge-online-bg: #22c55e;
}

.component-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    padding: 1rem 0;
}

/* || Avatar with badges start */
.badge-container {
    position: relative;
    width: max-content;
}

.badge-container .avatar-badge {
    position: absolute;
    background-color: var(--plain-gray);
    height: 1.5rem;
    width: 1.5rem;
    bottom: 2px;
    right: 4px;
    border-radius: var(--full-round-border-radius);
    border: solid 2px var(--plain-white);
}

.avatar-badge.online {
    background-color: var(--badge-online-bg);
}
.avatar-badge.offline {
    background-color: var(--plain-gray);
}
.avatar-badge.dnd {
    background-color: var(--plain-red);
}

/* || Avatar with badges ends */

/* || Icons with badges starts */

.icon-container .icon {
    font-size: 2.8rem;
    padding: 0.5rem;
}

.icon-container .icon-badge {
    position: absolute;
    font-size: 1.2rem;
    color: var(--plain-white);
    background-color: var(--plain-red);
    padding: 3px 6px;
    border-radius: var(--full-round-border-radius);
    top: -6px;
    right: -8px;
}

.icon-container.text .icon-badge {
    top: -1.3rem;
}

/* || Icons with badges ends */

/* Tag Badges starts*/

.badge-container.tag {
    padding: 0.5rem 0.75rem;
    font-size: var(--font-size-h5);
    border-radius: none;
    color: var(--plain-black);
    background-color: lightgray;
}

.tag.tag-primary {
    color: var(--plain-white);
    background-color: var(--velocity-blue);
}
.tag.tag-secondary {
    color: var(--plain-black);
    background-color: lightgray;
}
.tag.tag-dark {
    color: var(--plain-white);
    background-color: var(--velocity-black);
}
.tag.tag-success {
    color: var(--plain-white);
    background-color: var(--velocity-green);
}
.tag.tag-danger {
    color: var(--plain-white);
    background-color: var(--velocity-red);
}
.tag.tag-warn {
    color: var(--plain-white);
    background-color: var(--velocity-orange);
}

.tag.tag-round-border {
    border-radius: var(--small-border-radius);
}

/* Tag Badges ends*/
