/* || container for components */
.component-container {
  border: 1px solid lightgray;
  border-radius: var(--small-border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 1.6rem auto;
  max-width: 700px;
}
/* || Remove from Display */
.display-none {
    display: none;
}

/* || strike text */
.strike-text {
  text-decoration: line-through;
}