/* Modal container */
.modal-container {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal-container.active {
  display: flex;
}

/* modal */
.modal {
  max-width: 60rem;
  height: fit-content;
  background-color: var(--plain-white);
  border-radius: var(--sm-radius);
}

/* header */
.modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal header .close-icon {
  margin-left: auto;
  color: var(--plain-gray);
}

.modal header .close-icon:hover {
  cursor: pointer;
  color: var(--plain-black);
  transform: scale(1.2);
}

/* Footer */

.modal footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--spacing-s);
}

/* || Modal styles ends */
