<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI | Text Utilities</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <link rel="stylesheet" href="/components/text-utilities/text-utlities.css" />
    <link rel="stylesheet" href="/components/text-utilities/text-utilities-docs.css" />
   
    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- || top nav start -->

    <nav class="top-navbar">
      <div class="top-nav-brand">
        <a href="/index.html">
          <img src="/images/velocity-1-logo.svg" alt="velocity-ui-brand-logo" />
        </a>
        <a href="/index.html" class="brand-name">Velocity</a>
      </div>

      <ul class="top-nav-links doc-links">
        <li class="inline-list">
          <a href="/components/introduction/introduction.html">Get Started</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Documentation</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Components</a>
        </li>
      </ul>

      <ul class="top-nav-links">
        <li class="inline-list">
          <a href="https://github.com/AnkurChunekar/VelocityUI" target="_blank"
            ><i class="fab fa-github h3"></i
          ></a>
        </li>
        <li class="inline-list menu-icon">
          <i id="hamburger-menu-icon" class="fas fa-bars h3"></i>
        </li>
      </ul>
    </nav>

    <!-- || top nav end -->

    <!-- || Main component Section start -->

    <section class="component-section">
      <!-- || Side Navbar start -->

      <nav id="hamburger-menu" class="side-navbar">
        <ul class="ul-side-navbar">
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link title"
              >Get Started</a
            >
          </li>
          <li>
            <a
              href="/components/introduction/introduction.html"
              class="side-nav-link"
              >Installation</a
            >
          </li>
          <li>
            <a href="/components/colors-docs/colors.html" class="side-nav-link"
              >Colors</a
            >
          </li>
          <li>
            <a
              href="/components/typography-docs/typography.html"
              class="side-nav-link"
              >Typography</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link title"
              >Components</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link"
              >Alert</a
            >
          </li>
          <li>
            <a href="/components/avatar/avatar.html" class="side-nav-link"
              >Avatar</a
            >
          </li>
          <li>
            <a href="/components/badge/badge.html" class="side-nav-link"
              >Badge</a
            >
          </li>
          <li>
            <a href="/components/button/button.html" class="side-nav-link"
              >Button</a
            >
          </li>
          <li>
            <a href="/components/card/card.html" class="side-nav-link">Card</a>
          </li>
          <li>
            <a href="/components/chips/chips.html" class="side-nav-link"
              >Chips</a
            >
          </li>
          <li>
            <a href="/components/grid/grid.html" class="side-nav-link"
              >Grid</a
            >
          </li>
          <li>
            <a
              href="/components/imageComponent/image.html"
              class="side-nav-link"
              >images</a
            >
          </li>
          <li>
            <a href="/components/input/input.html" class="side-nav-link"
              >Input</a
            >
          </li>
          <li>
            <a href="/components/lists/lists.html" class="side-nav-link"
              >Lists</a
            >
          </li>
          <li>
            <a href="/components/modal/modal.html" class="side-nav-link"
              >Modal</a
            >
          </li>
          <li>
            <a
              href="/components/navigation/navigation.html"
              class="side-nav-link"
              >Navigation</a
            >
          </li>
          <li>
            <a
              href="/components/rating/rating.html"
              class="side-nav-link"
              >Rating</a
            >
          </li>
          <li>
            <a
              href="/components/slider/slider.html"
              class="side-nav-link"
              >Slider</a
            >
          </li>
          <li>
            <a href="/components/snackbar/snackbar.html" class="side-nav-link"
              >Snackbar</a
            >
          </li>
          <li>
            <a
              href="/components/text-utilities/text-utilities.html"
              class="side-nav-link active"
              >Text Utilities</a
            >
          </li>
        </ul>
      </nav>

      <!-- || Side Navbar end -->

      <main>
        <!-- || Main Component Body -->

        <div class="main-component-body">
          <!-- || Header area start -->

          <header class="docs-body-header">
            <h2>Text Utilities</h2>
            <p class="docs-body-para">
              Text Utilities are useful for providing different styles to text content.
            </p>
          </header>

          <!-- || Header area end -->

          <!-- || text styles start -->

          <section id="styles" class="docs-body-section">
            <h3>Text Styles</h3>

            <table class="table">

              <thead>
                <tr>
                  <th>Class Name</th>
                  <th>Output</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>gray-text</td>
                  <td><p class="gray-text">Gray Text example</p></td>
                </tr>
                <tr class="active-row">
                  <td>strike-text</td>
                  <td><p class="strike-text">Strike Through</p></td>
                </tr>

                <tr>
                  <td>center-align-text</td>
                  <td><p class="center-align-text">Center Aligned text</p></td>
                </tr>

                <tr>
                  <td>right-align-text</td>
                  <td><p class="right-align-text">Right Aligned text</p></td>
                </tr>

                <tr>
                  <td>left-align-text</td>
                  <td><p class="left-align-text">Left Aligned text</p></td>
                </tr>

                <tr>
                  <td>highlight-text</td>
                  <td><p class="highlight-text">Highlighted Text</p></td>
                </tr>

                <tr>
                  <td>thin-text</td>
                  <td><p class="thin-text">Light Weighted Text</p></td>
                </tr>

                <tr>
                  <td>&lt;strong&gt;</td>
                  <td><strong>Bold Text</strong></td>
                </tr>

                <tr>
                  <td>&lt;small&gt;</td>
                  <td><small>Small Text</small></td>
                </tr>

                <tr>
                  <td>primary-color-text</td>
                  <td><p class="primary-color-text">Primary Colored Text</p></td>
                </tr>

                <tr>
                  <td>secondary-color-text</td>
                  <td><p class="secondary-color-text">Secondary Colored Text</p></td>
                </tr>

              </tbody>
            </table>

          </section>

          <!-- text-styles ends -->

          <footer class="component-footer">
            <a href="/components/snackbar/snackbar.html">
              <i class="fas fa-angle-double-left"></i> Snackbar</a
            >
            <a></a>
          </footer>


          <!-- Footer starts  -->

          <footer class="main-footer">
            <p class="docs-body-para">
              <i class="far fa-copyright"></i> 2022 Ankur Chunekar. All Rights
              Reserved
            </p>
            <ul>
              <li>
                <a
                  class="footer-link"
                  href="https://ankurchunekar.netlify.app/"
                  target="_blank"
                  ><i class="fas fa-home"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://github.com/AnkurChunekar"
                  target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://twitter.com/ankur_chunekar"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://www.linkedin.com/in/ankurchunekar"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </footer>

          <!-- Footer ends -->
        </div>

        <!-- here-->

        <aside class="side-navbar page-info">
          <ul class="ul-side-navbar">
            <li><a class="side-nav-link title">On This Page</a></li>

            <li>
              <a href="#styles" class="side-nav-link">Text styles</a>
            </li>

          </ul>
          
        </aside>

      </main>

    </section>


    <script src="/documentation/JS/documentation.js"></script>
  </body>
</html>
