<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI text utilities</title>

    <link rel="stylesheet" href="text-utlities.css" />
  </head>
  <body>
    <!-- Headings start -->
    <div class="component-container">
      <h1>H1-Heading</h1>
      <h2>H2-Heading</h2>
      <h3>H3-Heading</h3>
      <h4>H4-Heading</h4>
      <h5>H5-Heading</h5>
    </div>
    <!-- Headings ends -->
    <!-- paragraph start -->
    <div class="component-container">
      <p>This is a paragraph</p>
      <p class="gray-text">This is gray text example</p>
      <p class="strike-text">This is a strike through text</p>
      <p class="center-align-text">This is a center aligned text</p>
      <p class="right-align-text">This is a right aligned text</p>
      <p class="left-align-text">This is a left aligned text</p>
      <p>The <span class="highlight-text">"next"</span> word here is highlighted</p>
      <p class="light-weight-text">This is a light weighted text</p>
      <p><b>This is a bold text</b></p>
      <p class="primary-color-text">Primary Color text</p>
      <p class="secondary-color-text">Secondary Color text</p>
      <small>smaller text here</small>
    </div>
    <!-- paragraph ends -->


  </body>
</html>
