/* Text style starts */

.center-align-text {
  text-align: center;
}

.right-align-text {
  text-align: right;
}

.left-align-text {
  text-align: left;
}

.highlight-text {
  background-color: var(--plain-lightgray);
  border-radius: var(--small-border-radius);
}

.primary-color-text {
  color: var(--velocity-blue);
}

.secondary-color-text {
  color: var(--velocity-gray);
}

.light-weight-text {
  font-weight: 100;
}

.gray-text {
  color: gray;
}

.strike-text {
  text-decoration: line-through;
}

/* Text style ends */
