@import url(/components/button/button.css);

/* ROOT Variable */

:root {
  --snackbar-bg: #303030;
}

/* standard snackbar component starts */
.snackbar {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--snackbar-bg);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: var(--small-border-radius);
  box-shadow: 0 2px 5px var(--plain-lightgray);
}

.snackbar .heading {
  color: inherit;
}

.snackbar-actions {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-left: auto;
  padding-left: 3rem;
  column-gap: 1rem;
}

.snackbar-actions * {
  cursor: pointer;
}

.snackbar-actions .snackbar-action-btn {
  border: none;
  background-color: transparent;
  color: var(--velocity-blue);
}

/* standard snackbar component ends */

/* stacked snackbar component starts */

.stacked-snackbar {
  flex-direction: column;
  row-gap: 2rem;
  left: 50%;
}

/* stacked snackbar component ends */

/* colors for snackbar starts */

.snackbar.success {
  background-color: var(--alert-success-green);
  color: var(--velocity-black);
}

.snackbar.danger {
  background-color: var(--alert-error-red);
  color: var(--velocity-black);
}

.snackbar.warn {
  background-color: var(--alert-warn-orange);
  color: var(--velocity-black);
}

/* colors for snackbar ends */

/* for demo starts */

#demo-snackbar {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.display-none {
  display: none;
}

/* for demo ends */
