@import url(/components/button/button.css);

/* ROOT Variable */

:root {
  --snackbar-bg: #303030;
}

/* standard snackbar component starts */

.snackbar {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--snackbar-bg);
  color: var(--lynx-white);
  padding: 1.5rem;
  border-radius: var(--small-border-radius);
  box-shadow: 0 1px 4px var(--plain-gray);
}

.snackbar button {
  cursor: pointer;
  background-color: transparent;
  margin-left: 4rem;
  color: inherit;
}

.snackbar button:hover {
 transform: translateY(-5%);
}

/* standard snackbar component ends */

/* colors for snackbar starts */

.snackbar.success {
  background-color: var(--alert-success-green);
  color: var(--alert-success-icon-green);
}

.snackbar.danger {
  background-color: var(--alert-error-red);
  color: var(--alert-error-icon-red);
}

.snackbar.warn {
  background-color: var(--alert-warn-orange);
  color: var(--alert-warn-icon-orange);
}

/* colors for snackbar ends */

/* for demo starts */

#demo-snackbar {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.display-none {
  display: none;
}

/* for demo ends */
