<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity UI</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <link rel="stylesheet" href="introduction.css" />

    <script
      src="https://kit.fontawesome.com/edf7bdb339.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- || top nav start -->

    <nav class="top-navbar">
      <div class="top-nav-brand">
        <a href="/index.html">
          <img src="/images/velocity-1-logo.svg" alt="velocity-ui-brand-logo" />
        </a>
        <a href="/index.html" class="brand-name">Velocity</a>
      </div>

      <ul class="top-nav-links doc-links">
        <li class="inline-list">
          <a href="/components/introduction/introduction.html">Get Started</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Documentation</a>
        </li>
        <li class="inline-list">
          <a href="/components/alert/alert.html">Components</a>
        </li>
      </ul>

      <ul class="top-nav-links">
        <li class="inline-list">
          <a href="https://github.com/AnkurChunekar/VelocityUI" target="_blank"
            ><i class="fab fa-github h3"></i
          ></a>
        </li>
        <li class="inline-list menu-icon">
          <i id="hamburger-menu-icon" class="fas fa-bars h3"></i>
        </li>
      </ul>
    </nav>

    <!-- || top nav end -->

    <!-- || Main component Section start -->

    <section class="component-section">
      <!-- || Side Navbar start -->

      <nav id="hamburger-menu" class="side-navbar">
        <ul class="ul-side-navbar">
          <li><a href="" class="side-nav-link title">Get Started</a></li>
          <li><a href="" class="side-nav-link active">Installation</a></li>
          <li><a href="" class="side-nav-link">Colors</a></li>
          <li><a href="" class="side-nav-link">Typography</a></li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link title"
              >Components</a
            >
          </li>

          <li>
            <a href="/components/alert/alert.html" class="side-nav-link"
              >Alert</a
            >
          </li>
          <li>
            <a href="/components/avatar/avatar.html" class="side-nav-link"
              >Avatar</a
            >
          </li>
          <li>
            <a href="/components/badge/badge.html" class="side-nav-link"
              >Badge</a
            >
          </li>
          <li>
            <a href="/components/button/button.html" class="side-nav-link"
              >Button</a
            >
          </li>
          <li>
            <a href="/components/card/card.html" class="side-nav-link">Card</a>
          </li>
          <li>
            <a href="/components/chips/chips.html" class="side-nav-link"
              >Chips</a
            >
          </li>
          <li>
            <a
              href="/components/imageComponent/image.html"
              class="side-nav-link"
              >images</a
            >
          </li>
          <li>
            <a href="/components/input/input.html" class="side-nav-link"
              >Input</a
            >
          </li>
          <li>
            <a href="/components/lists/lists.html" class="side-nav-link"
              >Lists</a
            >
          </li>
          <li>
            <a href="/components/modal/modal.html" class="side-nav-link"
              >Modal</a
            >
          </li>
          <li>
            <a
              href="/components/navigation/navigation.html"
              class="side-nav-link"
              >Navigation</a
            >
          </li>
          <li>
            <a href="/components/rating/rating.html" class="side-nav-link"
              >Rating</a
            >
          </li>
          <li>
            <a href="/components/snackbar/snackbar.html" class="side-nav-link"
              >Snackbar</a
            >
          </li>
          <li>
            <a
              href="/components/text-utilities/text-utilities.html"
              class="side-nav-link"
              >Text Utilities</a
            >
          </li>
        </ul>
      </nav>

      <!-- || Side Navbar end -->

      <main>
        <!-- || Main Component Body -->

        <div class="main-component-body">
          <!-- || Header area start -->

          <header>
            <h2>Velocity UI</h2>
            <p>Hello and welcome!</p>
            <p>
              Quickly design beautiful, responsive web pages with the help
              Velocity UI, without a lot of hassle using only HTML and CSS.
            </p>
            <div class="divider"></div>
          </header>

          <!-- || Header area end -->

          <!-- || Installation start -->
          <section id="installation">
            <h3>Installation</h3>
            <p>
              In order to use the components in your project, Copy and paste the
              code in the <span class="text-pink-bg">head</span> tag of your
              html document, above all other style sheets.
            </p>
            <p>
              Once you are done with the first step, you can easily use the
              components by just adding class names to your html elements.
            </p>

            <div class="code-container install">
              <!-- iframe starts -->

              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fsparrow-design.netlify.app%252Fcss%252Fcomponents.css%2522%253E"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>

              <!-- iframe ends -->
            </div>
            <div class="divider"></div>
          </section>
          <!-- || installation end -->

          <!-- || Customisable start -->
          <section id="customisable">
            <h3>Customisable</h3>
            <p>
              Components can be easily customised. In order to override the base
              classes, users can add their own class to the pre-existing
              classes, and style them seperately.
            </p>

            <div class="component-container">
              <button class="btn btn-primary my-style">Primary</button>
            </div>

            <div class="code-container">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=516&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520my-style%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253C%21--%2520you%2520can%2520style%2520the%2520provided%2520class%2520--%253E%250A%253Cstyle%253E%250A%2520%2520.my-style%2520%257B%250A%2520%2520%2520%2520color%253A%2520var%28--my-blue%29%253B%250A%2520%2520%257D%2520%2520%250A%253C%252Fstyle%253E"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
            <div class="divider"></div>
          </section>
          <!-- || Customisable end -->

          <!-- || Component Footer starts -->

          <footer class="component-footer">
            <a href=""></a>
            <a href="">
              Colors <i class="fas fa-angle-double-right"></i
            ></a>
          </footer>

          <!-- || Component Footer ends -->

          <!-- || Main Footer starts  -->

          <footer class="main-footer">
            <p>
              <i class="far fa-copyright"></i> 2022 Ankur Chunekar. All Rights
              Reserved
            </p>
            <ul>
              <li>
                <a
                  class="footer-link"
                  href="https://ankurchunekar.netlify.app/"
                  target="_blank"
                  ><i class="fas fa-home"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://github.com/AnkurChunekar"
                  target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://twitter.com/ankur_chunekar"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  class="footer-link"
                  href="https://www.linkedin.com/in/ankurchunekar"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </footer>

          <!-- || Main Footer ends -->
        </div>

        <!-- || Page info side nav bar starts-->

        <aside class="side-navbar page-info">
          <ul class="ul-side-navbar">
            <li><a href="" class="side-nav-link title">On This Page</a></li>

            <li><a href="#installation" class="side-nav-link">Installation</a></li>
            <li>
              <a href="#customisable" class="side-nav-link">Customisable</a>
            </li>
          </ul>
        </aside>

        <!-- || Page info side nav bar ends -->
      </main>
    </section>

    <script src="/documentation/JS/documentation.js"></script>
  </body>
</html>
