
/* || Component Container */

.component-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 100%;
    margin: 3rem 0;
    box-shadow: none;
  }
  