:root {
  --carbon-iframe-bg: #151718;
  --pink-text-bg: #ffe4ea;
  --nav-lightblue-bg: #f2f7ff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* || Top Navbar styles ------*/

.top-navbar {
  background-color: white;
  padding: var(--spacing-s) var(--spacing-xs);
  box-shadow: 0 1px 4px var(--plain-lightgray);
}

.top-navbar .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-h5);
  margin: 0 auto;
  max-width: 1440px;
}

.top-nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav-brand img {
  max-width: 3rem;
  margin-right: var(--spacing-xs);
}

.top-nav-brand .brand-name {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--dark-color);
  text-decoration: none;
}

.top-nav-links li {
  color: var(--plain-gray);
  font-size: var(--font-size-h3);
}

.top-nav-links li a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.inline-list {
  list-style: none;
  display: inline;
}

.top-nav-links .inline-list {
  margin: 0 1rem;
}

.menu-icon i {
  color: var(--dark-color);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i:hover {
  color: var(--primary-color);
}

/* || Top navbar Ends---------- */

/* || Side Navbar styles */

.side-navbar {
  height: calc(100vh - 90px);
  border: var(--documentation-border-lightgray);
  margin-top: 2rem;
}

.ul-side-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: 200px;
  overflow-y: auto;
  height: calc(100vh - 91px);
  list-style: none;
}

.ul-side-navbar li {
  width: 100%;
}

.ul-side-navbar a {
  display: flex;
  align-items: center;
  color: var(--plain-gray);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 4px;
}

.ul-side-navbar .title {
  font-size: 1.6rem;
  color: var(--dark-color);
  padding: 1rem;
}

.ul-side-navbar a.active {
  color: var(--primary-color);
  font-weight: 600;
  background-color: var(--nav-lightblue-bg);
}

.side-navbar .ul-side-navbar a:hover {
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.3s;
}

/* Page info side-navbar styles start */

.side-navbar.page-info {
  width: 200px;
  position: sticky;
  top: 0;
}

.side-navbar.page-info li a:hover {
  color: var(--plain-black);
  font-weight: 400;
}

/* || Main Component section starts --------*/

.component-section {
  display: flex;
  height: calc(100vh - 70px);
  max-width: 1440px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* main component body */

.main-component-body {
  padding: 0 1rem;
  max-width: 768px;
}

.main-component-body .docs-body-header {
  margin: 2rem 0;
  color: var(--dark-color);
  border-bottom: solid 1px var(--plain-lightgray);
}
/* -- */
.main-component-body .docs-body-para {
  margin: 2rem 0;
  color: var(--dark-color);
}

.main-component-body .docs-body-section {
  padding-bottom: 2.5rem;
  margin: 3rem 0;
  border-bottom: solid 1px var(--plain-lightgray);
}
/* -- */
.cta-blue-text {
  color: var(--primary-color);
}

/* || code Container */

.code-container {
  width: 100%;
  overflow: auto;
  border-radius: var(--sm-radius);
  margin: 3rem 0;
}

.text-pink-bg {
  background-color: var(--pink-text-bg);
  border-radius: var(--sm-radius);
}

/* || Iframe Container */

iframe {
  width: 100%;
  height: 100%;
  border: var(--sm-radius);
  transform: scale(1);
  overflow: hidden;
  background-color: var(--carbon-iframe-bg);
}

/* || Component Footer */

.component-footer {
  display: flex;
  justify-content: space-between;
}

.component-footer a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

.component-footer a:hover {
  color: var(--primary-color);
}

/* Main Footer */

.main-footer {
  color: var(--plain-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.main-footer p {
  color: inherit;
}

.main-footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.main-footer li {
  display: inline;
  margin: 0 1rem;
}
.main-footer li a {
  color: inherit;
  font-size: 1.8rem;
}
.main-footer li a:hover {
  color: var(--primary-color);
}

/* || Media Queries start */

@media screen and (max-width: 768px) {
  .menu-icon {
    display: inline;
  }

  .doc-links {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  .side-navbar.page-info {
    display: none;
  }
  .main-component-body {
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .top-navbar {
    display: fixed;
    top: 0;
  }

  .side-navbar {
    display: none;
  }

  .side-navbar.active {
    display: block;
    background-color: var(--plain-white);
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
  }

  .ul-side-navbar {
    width: 100%;
  }

  .ul-side-navbar a {
    font-size: 1.7rem;
  }

  .ul-side-navbar a.title {
    font-size: 1.9rem;
  }

  .main-component-body {
    padding: 0 2rem;
  }
}

/* || Media Queries end */
